[package]
name = "vllm-core"
version = "0.1.0"
edition.workspace = true

[features]
test-utils = []

[dependencies]
tokio.workspace = true
thiserror.workspace = true
anyhow.workspace = true
serde.workspace = true
serde_json.workspace = true
candle-core.workspace = true
candle-nn.workspace = true
hf-hub.workspace = true
tokenizers.workspace = true
minijinja.workspace = true
ahash.workspace = true
